<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
      <services>
          <register serviceType="Sitecore.XA.Foundation.SitecoreExtensions.Interfaces.IRendering, Sitecore.XA.Foundation.SitecoreExtensions">
              <patch:attribute name="implementationType">Sitecore.Support.XA.Foundation.Mvc.Wrappers.Rendering, Sitecore.Support.430451</patch:attribute>
          </register>
      </services>
  </sitecore>
</configuration>